<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <sources>
      <!-- The TraceSource used is named Application. TooltipListener is added inside the application-->
      <source name="WriteTraceSources" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="rollingfile" />
        </listeners>
      </source>
      <source name="MySource" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="rollingfile" />
        </listeners>
      </source>

      <source name="Logic1" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="rollingfile" />
        </listeners>
      </source>

    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired -->
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <!--*** Write to daily rollover log files.-->
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="c:\logs\WriteTraceSources-{DateTime:yyyy-MM-dd}.log" />
    </sharedListeners>
    <!--This will handle Debug and Trace output.-->
    <trace autoflush="true">
      <listeners>
        <add name="rollingfile" />
      </listeners>
    </trace>
  </system.diagnostics>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>